{% extends 'base.html.twig' %}

{% block title %}Test User{% endblock %}

{% block body %}

<h2>Liste des user par ordre alphabethique d'email</h2>

{% for user in userList %}
<h3> {{ user.email }} (id {{user.id}})</h3>
{% endfor %}


<h2>User 1 :</h2>

<h3> {{ user.email }} (id {{user.id}}) </h3>

{% for role in user.roles %}
{{ role }} <br>
{% endfor %}

{{ user.password }} <br>

{{user.enabled ? 'true' : 'false'}}

<h2>User Foo</h2>

<h3>{{ foo.email }} (id {{ foo.id }})</h3> <br>

{% for role in foo.roles %}
{{ role }} <br>
{% endfor %}

{{ user.password }} <br>

{{user.enabled ? 'true' : 'false'}}


<h2>ROLE_USER</h2>

{% for user in userRole %}
<h3>{{ user.email }} (id {{ user.id }})</h3>
{% endfor %}


<h2>Not enabled User</h2>

{% for user in userNotEnabled %}
<h3>{{ user.email }} (id {{ user.id }})</h3>
<p>{{user.enabled ? 'true' : 'false'}}</p>
{% endfor %}

{% endblock %}
